.container {
  user-select: none;
  display: flex;
  align-items: center;

  &.left {
    margin-left: -0.5625rem;
  }
}

.buttonWrapper {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.25rem;
  height: 2.25rem;

  border-radius: 50%;

  &[aria-disabled='true'] {
    cursor: default;
    background-color: transparent;
  }

  &:hover:not([aria-disabled='true']) {
    background-color: var(--Dark-300);
  }

  &:active:not([aria-disabled='true']) {
    background-color: var(--Dark-100);
  }

  &.left {
    margin-left: -0.5625rem;
  }
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover:not([aria-disabled='true']) {
    .buttonWrapper {
      background-color: var(--Dark-300);
    }
  }

  &:active:not([aria-disabled='true']) {
    .buttonWrapper {
      background-color: var(--Dark-100);
    }
  }

  &[aria-disabled='true'] {
    cursor: default;
    display: flex;
    align-items: center;
    color: var(--Light-900);
  }
}

.root {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.125rem;
  height: 1.125rem;

  background-color: transparent;
  border: 0.125rem solid var(--Light-500);
  border-radius: 0.125rem;

  &:disabled {
    cursor: initial;
    border-color: var(--Light-900);
  }

  &[data-state='checked']:disabled {
    cursor: initial;
    color: var(--Dark-100);
    background-color: var(--Light-700);
  }
}

.indicator {
  width: 1.125rem;
  height: 1.125rem;
}
