* {
  user-select: none; /* Для современных браузеров */
  box-sizing: border-box;
}

button {
  all: unset;
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.trigger,
.item {
  cursor: pointer;

  display: flex;
  column-gap: 12px;
  align-items: center;

  padding: 5px 12px;

  color: var(--Light-100);

  &[data-disabled] {
    color: var(--Dark-100);
  }
}

.trigger,
.content {
  border: 1px solid var(--Dark-100);
  border-radius: 2px;

  &[data-state='open'] {
    border-color: var(--Light-100);
  }
}

.label {
  cursor: pointer;
  width: fit-content;
  color: var(--Light-900);
}

.trigger {
  & span {
    flex-grow: 1;
  }

  &[data-state='open'] {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.item {
  min-height: 38px; // Подберите подходящее значение
  border: none;
  outline: none;

  &:not([data-disabled]):hover {
    color: var(--Primary-500);
    background-color: var(--Dark-300);
    outline: none;
  }
}

.content {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
  border: 1px solid var(--Dark-100);
  border-radius: 2px;

  &[data-state='open'] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.picture {
  width: 24px;
  height: 24px;

  & img {
    width: 24px;
    height: 24px;
  }
}
