* {
  user-select: none; /* Для современных браузеров */
  box-sizing: border-box;
}

button {
  all: unset;
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.trigger,
.item {
  cursor: pointer;

  display: flex;
  column-gap: 0.75rem;
  align-items: center;

  padding: 0.3125rem 0.75rem;

  color: var(--Light-100);

  &[data-disabled] {
    color: var(--Dark-100);
  }
}

.trigger,
.content {
  z-index: 102;
  border: 0.0625rem solid var(--Dark-100);
  border-radius: 0.25rem;

  &[data-state='open'] {
    background-color: var(--Dark-300);
    border-color: var(--Light-500);
  }
}

.label {
  cursor: pointer;
  width: fit-content;
  color: var(--Light-900);
}

.trigger {
  &:focus,
  &:focus-within {
    border-color: var(--Primary-500);
  }

  &:not([data-disabled]):hover {
    background-color: var(--Dark-500);
  }

  & span {
    flex-grow: 1;
  }

  &[data-state='open'] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.item {
  min-height: 2.375rem; // Подберите подходящее значение
  border: none;
  outline: none;

  &:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  &[data-state='checked'] {
    color: var(--Primary-300);
  }

  &:not([data-disabled]):hover,
  &:not([data-disabled]):focus,
  &:not([data-disabled]):focus-within {
    color: var(--Primary-500);
    background-color: var(--Dark-500);
    outline: none;
  }
}

.content {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);

  &[data-state='open'] {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.picture {
  width: 1.5rem;
  height: 1.5rem;

  & img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
