.root {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  gap: 12px;
  list-style-type: none;
}

@mixin item {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  color: var(--color-light-100);

  border-radius: 2px;
}

.item {
  @include item;

  cursor: pointer;

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-info-900);
  }

  &:disabled {
    cursor: initial;
    opacity: 1;
  }

  &:hover:not(&:disabled) {
    background-color: var(--color-dark-500);
  }

  &.selected {
    color: var(--color-dark-900) !important;
    background-color: var(--color-light-100);

    & * {
      color: var(--color-dark-900);
    }
  }
}

.dots {
  @include item;
}

.selectBox {
  display: flex;
  gap: 12px;
  align-items: center;

  color: var(--color-text-primary);
  white-space: nowrap;
}

.select {
  flex-shrink: 0;
  width: 65px;
}
