.root {
  display: flex;
  gap: 1.5625rem;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  gap: 0.75rem;
  list-style-type: none;
}

@mixin item {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5rem;
  height: 1.5rem;

  color: var(--Light-100);

  border-radius: 0.125rem;
}

.item {
  @include item;

  cursor: pointer;

  &:focus-visible {
    border-radius: 0.125rem;
    outline: 0.125rem solid var(--Primary-700);
  }

  &:disabled {
    cursor: initial;
    color: var(--Dark-100);
    opacity: 1;
  }

  &:hover:not(&:disabled) {
    background-color: var(--Dark-100);
  }

  &.selected {
    color: var(--Dark-900) !important;
    background-color: var(--Light-100);

    & * {
      color: var(--Dark-900);
    }
  }
}

.dots {
  @include item;
}

.selectBox {
  display: flex;
  gap: 0.75rem;
  align-items: center;

  color: var(--Light-100);
  white-space: nowrap;
}

.selectTrigger {
  display: flex;
  flex-shrink: 0;
  column-gap: 0.25rem;
  padding: 0.125rem;

  span {
    display: block;
    text-align: right;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }
}
