.overlay {
  position: fixed;
  z-index: 104;
  inset: 0;

  overflow-y: auto;
  display: grid;
  place-items: center;

  opacity: 0.9;
  background-color: var(--Dark-500);

  animation: overlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  position: fixed;
  z-index: 106;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--Dark-300);
  border: 0.0625rem solid var(--Dark-100);
  border-radius: 0.125rem;

  animation: content-show 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

.L {
  width: 40.25rem;
}

.M {
  width: 30.625rem;
}

.S {
  width: 27.375rem;
}

.XXS {
  width: 20.625rem;
}

.XL {
  width: 60.75rem;
}

.XS {
  width: 23.625rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.75rem 1.5rem;

  border-bottom: 0.0625rem solid var(--Dark-100);
}

.closeButton {
  cursor: pointer;

  display: flex;

  width: 1.5rem;
  height: 1.5rem;

  transition: color 0.3s ease;

  &:hover {
    color: var(--Primary-100);
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes content-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
