.body {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;

  height: 100vh;
  padding-top: 1.25rem;

  background-color: var(--Dark-900);
}

.area {
  margin-top: 0.625rem;
}

.select {
  margin-top: 1.875rem;
}

.container {
  width: 46.25rem;
}
