.box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputBox {
  position: relative;
  display: flex;
  align-items: center;
}

.span {
  margin-left: 0.25rem;
  color: var(--Danger-500);
}

.input {
  box-sizing: border-box;
  width: 100%;
  min-width: 9.375rem;
  height: 2.25rem;
  padding: 0.375rem 0.75rem;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--Light-100);

  background-color: transparent;
  border: 0.0625rem solid var(--Dark-100);
  border-radius: 0.125rem;
  outline: none;

  &::placeholder {
    color: var(--Light-900);
  }

  &:disabled {
    color: var(--Dark-100);
  }

  &:focus-visible:enabled {
    border-color: var(--Primary-500);
  }

  &:active:enabled {
    background-color: var(--Dark-500);
    border-color: var(--Light-100);
  }

  &:hover:not(&:disabled) {
    border-color: var(--Light-900);
  }

  &.error {
    border-color: var(--Danger-500);
  }
}

.label {
  cursor: pointer;
  color: var(--Light-900);
}

.search {
  text-indent: 1.875rem;

  &::-webkit-search-cancel-button {
    display: none;
  }
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  width: 1.5rem;
  height: 1.5rem;
}

.buttonIcon {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 0.9375rem;
  transform: translateY(-55%);

  width: 1.25rem;
  height: 1.25rem;
}

.error {
  color: var(--Danger-500);
}
