.wrapper {
  display: flex;
  flex-direction: column;
}

.textAreaLabel {
  color: var(--Light-900);
}

.textArea {
  resize: none;

  padding: 0.5rem;

  font-size: 0.875rem;
  color: var(--Light-100);

  background-color: var(--Dark-700);
  border: 0.0625rem solid var(--Dark-300);
  outline: none;

  &:hover {
    border-color: var(--Light-100);
  }

  &:focus {
    border-color: var(--Primary-500);
  }
}

.errorBorder {
  border-color: var(--Danger-500);
}

.errorText {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: var(--Danger-500);
}

.disabled {
  cursor: not-allowed;
  color: var(--Dark-300);
  background-color: var(--Dark-500);
  border-color: var(--Dark-500);
}

.error {
  border-color: var(--Danger-500);
}
