.header {
  box-sizing: border-box;
  background-color: var(--Dark-700);
  border-bottom: 0.0625rem solid var(--Dark-300);
}

.container {
  cursor: pointer;

  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 74.375rem;
  margin: 0 auto;
  padding: 0.75rem 1.0625rem;

 

  .leftSection {
    display: flex;
    align-items: center;

    .logo {
      color: var(--Light-100);
    }

    .additionalLogoText {
      margin-top: 9px;
      color: var(--Light-100);
    }

    .additionalLogoTextBold {
      margin-top: 9px;
      color: var(--Light-100);
    } 

    @media (width <= 360px) {
      gap: 0;
    }

    @media (width <= 320px) {
      gap: 0;
    }
  }

  .rightSection {
    display: flex;
    gap: 3rem;
    align-items: center;
    background-color: var(--Dark-700);

    

    .notification {
      cursor: pointer;
      position: relative;
      margin-right: 1.25rem;

      .badge {
        position: absolute;
        top: -0.3125rem;
        right: -0.125rem;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 0.9375rem;
        height: 0.9375rem;

        font-size: 0.7rem;
        color: var(--Light-100);
        text-align: center;

        background-color: var(--Danger-500);
        border-radius: 50%;
      }
    }

    @media (width <= 320px) {
      gap: 10px;
    }

    @media (width <= 360px) {
      gap: 10px;
    }
  }

  .authButtons {
    display: flex;
    gap: 0.625rem;
  }
}

.notificationIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--Light-100);
}  

.menuIcon {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
 
  width: 24px;
  height: 24px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
 
.popupMenu {
  position: absolute;
  z-index: 100;
  top: 40px; 
  right: 15px;
  

 
  padding: 5px;

  background: var(--Dark-500);
  border: 1px solid var(--Dark-100);
 
  

  @media (width <= 360px) {
    top: 40px;
  }
}

.signUpButton {
  color:var(--Light-100) ;
}