.wrapper {
  width: 13.75rem;
  padding: 4.5rem 3.125rem 0 3.75rem;
  border-right: 0.0625rem solid var(--Dark-300);
  border-left: 0.0625rem solid var(--Dark-300);
}

.link {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
}

.icon {
  fill: red;
}

.text {
  color: var(--Light-100);
  text-transform: capitalize;
}
