.wrapper {
  width: 13.75rem;
  padding: 4.5rem 3.125rem 0 3.75rem;
  border-right: 0.0625rem solid var(--Dark-300);
}

.link {
  display: inline-flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-start;

  color: var(--Light-100);

  box-shadow: 0 0 0 0 var(--Primary-700);

  transition:
    color 0.3s ease,
    box-shadow 0.3s ease;

  &.active {
    color: var(--Primary-500);

    &:visited {
      color: var(--Primary-500);
    }
  }

  &:visited {
    color: var(--Light-100);
  }

  &:hover {
    color: var(--Primary-100);
  }

  &:focus-visible {
    border-radius: 2px;
    outline: none;
    box-shadow: 0 0 0 0.125rem var(--Primary-700);
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: var(--Dark-100);
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.text {
  text-transform: capitalize;
}
