.radioButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}

.radioInput {
  position: absolute;
  opacity: 0;
}

.radioLabel {
  cursor: pointer;
  position: relative;
  padding-left: 2rem;
  color: var(--Light-100);
}

.radioLabel::before {
  content: '';

  position: absolute;
  left: 0;

  width: 1.5rem;
  height: 1.5rem;

  background: transparent;
  border: 0.125rem solid var(--Light-100);
  border-radius: 50%;
}

.radioInput:checked + .radioLabel::before {
  background: var(--Light-300);
  box-shadow: inset 0 0 0 0.25rem var(--Dark-500);
}
